
####  Don't put comments on the same line as variables. ####

# To skip part of Ceph install and setup, use 'no', otherwise use 'yes'
do_vm_setup=yes
do_ceph_install=yes
do_client_setup=yes

outputfile_name=/tmp/terraform_ceph_install.out
num_object_replica=3
rbd_default_features=3


# Variables for creating the osd, rbd and mountpoint on the client
pool_name=mypool
pool_page_num=128
pool_pgp_num=128
rbd_name=myrbd
rbd_size=4096
filesystem_mount_point=/var/myceph
